body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    color: #141414;
}

h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.conteudo{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitulo{
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch;
}

@media (max-width: 800px){
    .subtitulo{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}

.descricao-secao{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    color: #525252;
}